parameters:
    level: 5
    paths:
        - src
    fileExtensions:
        - php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#Else branch is unreachable because ternary operator condition is always true.#'
            path: src/Reader/CsvReader.php
