parameters:
    level: 5
    paths:
        - Archiver
        - Exchange
        - Processor
        - Reader
        - DataImporter.php
    fileExtensions:
        - php
    ignoreErrors:
        -
            message: '#Else branch is unreachable because ternary operator condition is always true.#'
            path: Reader/CsvReader.php
