<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="DataImporter Test Suite">
            <directory suffix=".php">./Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Archiver</directory>
            <directory suffix=".php">./Exchange</directory>
            <directory suffix=".php">./Processor</directory>
            <directory suffix=".php">./Reader</directory>
            <file>./DataImporter.php</file>
        </whitelist>
    </filter>
</phpunit>
